#root {
 margin: 0;
 padding: 0;
  text-align: center;
  
}
.style-Card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%; 
   
  }
  
  .card{
    
    margin: 1rem;
    padding: 2rem;
   
   
  }

  


